{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<div class="formulario-container">
    <h2>Método Bisección</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Calcular</button>
    </form>
</div>

{% if pasos %}
    <table>
        <p>Iteraciones:</p>
        <tr><th>a</th><th>b</th><th>c</th><th>f(c)</th></tr>
        {% for p in pasos %}
        <tr><td>{{ p.0 }}</td><td>{{ p.1 }}</td><td>{{ p.2 }}</td><td>{{ p.3 }}</td></tr>
        {% endfor %}
    </table>
   
    <p>Raíz aproximada: <strong>{{ pasos|last|slice:'2' }} N/m</strong></p>

    <button id="toggleGraficaBtn">Mostrar Gráfica</button>
    <img id="graficaImg" src="{{ grafica_url }}" alt="Gráfica de convergencia" width="500px">

    <script src="{% static 'js/grafica_toggle.js' %}"></script>
{% endif %}